<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.udinic.accounts_example"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity android:name=".Main">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!-- Authenticator shit -->
        <activity android:name="com.udinic.accounts_authenticator_example.authentication.AuthenticatorActivity" android:label="@string/login_label" android:exported="true"/>
        <activity android:name="com.udinic.accounts_authenticator_example.authentication.SignUpActivity" android:label="@string/signup_title" android:exported="true"/>
        <service android:name="com.udinic.accounts_authenticator_example.authentication.UdinicAuthenticatorService" android:permission="com.udinic.permission">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/authenticator" />
        </service>

    </application>

    <!-- client -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <!-- Authenticator -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <permission-group android:name="com.udinic.permission_group" android:label="@string/perm_group_name"/>
    <permission android:name="com.udinic.permission" android:permissionGroup="com.udinic.permission_group" android:description="@string/per_desc" android:label="@string/per_label" android:protectionLevel="dangerous"/>
    <!--<uses-permission android:name="com.udinic.permission"/>-->

</manifest>
